- # $Id$
- # $(c)$

- actions = []
- if can? :edit, object
  - actions << {name: :edit,    url: edit_receiver_path(object)}
- if can? :destroy, object
  - actions << {name: :destroy, url: receiver_path(object), confirmation: "Are you sure you want to delete this receiver?"}

%td= object.name
%td= object.receiver_type
%td.actions= smart_listing_item_actions [ *actions ]