- # $Id: _item.html.haml 35 2015-04-22 18:03:47Z bmck_newco $
- # $(c): Copyright 2015 by Newco $

%td= object.name
%td= object.type
%td.actions= smart_listing_item_actions [ |
 {name: :edit,    url: edit_receiver_path(object)}, |
 {name: :destroy, url: receiver_path(object), confirmation: "Are you sure you want to delete this receiver?"} |
 ] |