- # $Id$
- # $(c)$

%td{colspan: 2}
  = form_for object, url: object.new_record? ? tire_types_path : tire_type_path(object), remote: true, html: {class: "form-horizontal"} do |f|
    .field
      = f.label :tire_type_name
      \&nbsp;
      = f.text_field :tire_type_name, :size => 64, :autofocus => true

    = f.submit "Save", class: "btn btn-primary"
    %button.btn.btn-link.cancel Cancel