- # $Id$
- # $(c)$

%h2 Your password has changed
%hr/
%p
  Hi #{@user.email},
%p We wanted to let you know that your password was changed.
%p
  If you did not change your password, or you changed it in error, please
  contact us at admin@newco.com as soon as possible.
