- # $Id$
- # $(c)$

Your password has changed

Hi #{@user.email},
We wanted to let you know that your password was changed.

If you did not change your password, or you changed it in error, please
contact us at admin@newco.com as soon as possible.
