- # $Id: _form.html.haml 29 2015-04-21 01:59:10Z bmck_newco $
- # $(c): Copyright 2015 by Newco $

= line_chart @goals.map{|goal|
    {name: goal.name, data: goal.feats.group_by_week(:created_at).count}
}