- # $Id$
- # $(c)$

- rpt = @report.samples_per_sensor
- sensors = rpt.keys
- data = sensors.map { |sensor| { name: sensor.tire_name, data: rpt[sensor].map { |tire_sample| [ tire_sample[:sample_time], tire_sample[:value]] } } }
- Rails.logger.verbose { "data = #{data.inspect}" }

= line_chart data, height: "500px"