- # $Id: index.html.haml 28 2015-04-20 20:15:46Z bmck_newco $
- # $(c): Copyright 2015 by Newco $

= smart_listing_item :companies, :update, @company, @company.valid? ? "companies/item" : "companies/form"