#filterrific_results
  %div
    = page_entries_info tire_types # provided by will_paginate
  %table
    %tr
      %th Name
    - tire_types.each do |tire_type|
      %tr
        %td= link_to(tire_type.name, tire_type_path(tire_type))
= will_paginate tire_types # provided by will_paginate
