- # $Id: update.js.haml 56 2015-04-24 19:38:00Z bmck_newco $
- # $(c): Copyright 2015 by Newco $

= smart_listing_item :trailers, :update, @trailer, @trailer.valid? ? "trailers/item" : "trailers/form"