-# $Id: permission_denied.html.haml 5180 2015-01-03 22:03:32Z bmck $
-# $(c): Copyright 2008-2015 by Capitalytics $
%div
  - @title = 'Permission Denied'
  %h1 "You are not allowed to access that page"
  %p
    You are not allowed to access that page.  If you encountered this error as the result of clicking a link, please
    let us know using the form below.  If you have accessed the page previously, your access privileges may have been
    changed recently, and you should either contact us or your bank administrator regarding this issue.

  %p
    And, of course, there is always the possibility that a bug, hermit crab, or other vermin has gotten into our system.
    IF that is the case, please don't hesitate to nag us.
