- # $Id$
- # $(c)$

%td= tire.sensor_id
%td= tire.tire_type
%td= tire.company
%td.actions= smart_listing_item_actions [ |
 {name: :edit,    url: edit_tire_path(tire)}, |
 {name: :destroy, url: tire_path(tire), confirmation: "Are you sure you want to delete this tire?"} |
 ] |