// $Id: application_controller.rb 7 2015-04-16 20:31:46Z bmck_newco $
// $(c): Copyright 2008-2015 by Newco $

// Place all the styles related to the tire_sample controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
