- # $Id$
- # $(c)$

- if user_signed_in?
  %li.active.dropdown
    %a.dropdown-toggle{href:"#", :"data-toggle" => "dropdown", :"data-target" => "#company", :"data-hover" => "dropdown", :"data-delay" => "200", :"data-close-others" => "true"}
      %i.fa.fa-bank
      Company Info
      %i.fa.fa-fw.fa-caret-down

    %ul#company.collapse.dropdown-menu
      - if can? :index, :companies
        %li.active
          %a{ href: companies_path }
            %i.fa.fa-phone
            Company Contacts
      - if can? :index, :tires
        %li.active
          %a{ href: tires_path }
            %i.fa.fa-circle-o
            Tires
      - if can? :index, :trucks
        %li.active
          %a{ href: trucks_path }
            %i.fa.fa-car
            Trucks
      - if can? :index, :trailers
        %li.active
          %a{ href: trailers_path }
            %i.fa.fa-truck
            Trailers
      - if can? :index, :storages
        %li.active
          %a{ href: storages_path }
            %i.fa.fa-building-o
            Storage Facilities

  - if can? :index, :sensors
    %li.active
      %a{ href: sensors_path }
        %i.fa.fa-sign-out
        Sensors
  - if can? :index, :receivers
    %li.active
      %a{ href: receivers_path }
        %i.fa.fa-sign-in
        Receivers
  - if can? :index, :tire_types
    %li.active
      %a{ href: tire_types_path }
        %i.fa.fa-info-circle
        Tire Types
  - if can? :index, :tire_samples
    %li.active
      %a{ href: tire_samples_path }
        %i.fa.fa-eyedropper
        Tire Samples
  - if can? :index, :tire_sample_report
    %li.active
      %a{ href: new_tire_sample_report_path }
        %i.fa.fa-area-chart
        Chart Tire Samples
  - if can? :index, :user
    %li.active
      %a{ href: users_path }
        %i.fa.fa-users
        Users

- else
  %li.active
    %a{ href: new_user_session_path }
      %i.fa.fa-sign-in
      Sign in
  %li.active
    %a{ href: new_user_registration_path }
      %i.fa.fa-user-plus
      Sign up
