- # $Id$
- # $(c)$

%ul.nav.navbar-nav
  - if user_signed_in?
    %li.divider

    %li.dropdown-header
      %i.fa.fa-user.fa-fw
      = "Logged in as #{current_user.first_last}"

    %li.divider

    %li.dropdown
      %a.dropdown-toggle{href:"#", "data-toggle" => "dropdown"}
        %i.fa.fa-bank
        Company Info
        %i.fa.fa-fw.fa-caret-down

      %ul.dropdown-menu
        - if can? :index, Company
          %li
            %a{ href: companies_path }
              %i.fa.fa-phone
              Company Contacts
        - if can? :index, Tire
          %li
            %a{ href: tires_path }
              %i.fa.fa-circle-o
              Tires
        - if can? :index, Truck
          %li
            %a{ href: trucks_path }
              %i.fa.fa-car
              Trucks
        - if can? :index, Trailer
          %li
            %a{ href: trailers_path }
              %i.fa.fa-truck
              Trailers
        - if can? :index, Storage
          %li
            %a{ href: storages_path }
              %i.fa.fa-building-o
              Storage Facilities

    - if can? :index, Sensor
      %li
        %a{ href: sensors_path }
          %i.fa.fa-sign-out
          Sensors
    - if can? :index, Receiver
      %li
        %a{ href: receivers_path }
          %i.fa.fa-sign-in
          Receivers
    - if can? :index, TireType
      %li
        %a{ href: tire_types_path }
          %i.fa.fa-info-circle
          Tire Types
    - if can? :index, TireSample
      %li.dropdown
        %a.dropdown-toggle{ href:"#", "data-toggle" => "dropdown"}
          %i.fa.fa-eyedropper
          Tire Samples
          %i.fa.fa-fw.fa-caret-down

        %ul.dropdown-menu
          - if can? :index, TireSample
            %li
              %a{ href: tire_samples_path }
                %i.fa.fa-database
                View/Edit
          - if can? :index, TireSampleReport
            %li
              %a{ href: new_tire_sample_report_path }
                %i.fa.fa-area-chart
                Chart

    %li.divider
    %hr/
    %li.divider

    %li
      %a{href: edit_user_registration_path}
        %i.fa.fa-user.fa-fw
        Edit User Profile

    - if can? :index, User
      %li
        %a{ href: users_path }
          %i.fa.fa-users
          View/Edit Users

    %li.divider
    %hr/
    %li.divider

    %li
      %a{href: destroy_user_session_path, "data-method" => 'delete'}
        %i.fa.fa-sign-out.fa-fw
        Logout


  - else
    %li
      %a{ href: new_user_session_path }
        %i.fa.fa-sign-in
        Sign in
    %li
      %a{ href: new_user_registration_path }
        %i.fa.fa-user-plus
        Sign up
